.dropdown-item.ne {
  &:hover {
    pointer-events: none;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .scroll {
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}