<div class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
        <div class="card animate__animated animate__fadeInLeft fx-shadow">
          <div class="row no-gutters">
            <div class="col-12 col-md-5 fadeInUp d-none d-md-block">
              <img src="assets/images/login-bg.png" alt="login" class="card-img h-100" />
            </div>
            <div class="col-12 col-md-7 fadeInUp">
              <div class="p-4 py-5">
                <div class="text-center mb-4">
                  <div class="logo mb-4">
                    <img src="assets/images/logo-flexcub.svg" alt="logo" class="logo" />
                  </div>
                  <h2 class="txt primary-dark bolder mb-3">Forgot Password</h2>
                  <p class="txt mb-0">The password should have atleast 6 characters</p>
                </div>
                <div class="px-xl-5">
                  <form class="form mb-3" [formGroup]="form">
                    <div class="form-floating mb-3 fr-input-group">
                      <input [type]="toggle?.one ? 'text' : 'password'" class="form-control" placeholder="New Password"
                        formControlName="password"
                        [ngClass]="{ 'is-invalid me-bg': f?.password?.touched && f?.password?.errors }" />
                      <label>New Password</label>

                      <button class="btn ico" type="button" (click)="toggler('one')">
                        <i class="fa" [ngClass]="{
                          'fa-eye-slash': !toggle?.one,
                          'fa-eye': toggle?.one
                        }">
                        </i>
                      </button>
                      <div *ngIf="f?.password?.touched && f.password?.errors" class="invalid-feedback">
                        <div *ngIf="f.password?.errors?.required">New Password is required</div>
                        <div *ngIf="f.password?.errors?.pattern">New Password must contain at least 6 characters, one (A-Z ,a-z,1-9) each , and one special character</div>
                      </div>
                    </div>

                    <div class="form-floating mb-3 fr-input-group">
                      <input [type]="toggle?.two ? 'text' : 'password'" class="form-control" placeholder="Confirm Password"
                        formControlName="_password"
                        [ngClass]="{ 'is-invalid me-bg': f?._password?.touched && f?._password?.errors }" />
                      <label>Confirm Password</label>

                      <button class="btn ico" type="button" (click)="toggler('two')">
                        <i class="fa" [ngClass]="{
                          'fa-eye-slash': !toggle?.two,
                          'fa-eye': toggle?.two
                        }">
                        </i>
                      </button>
                      <div *ngIf="f?._password?.touched && f._password?.errors" class="invalid-feedback">
                        <div *ngIf="f._password?.errors?.required">Confirm Password is required</div>
                        <div *ngIf="f._password?.errors?.pattern">Confirm Password must contain at least 6 characters, one (A-Z ,a-z,1-9) each , and one special character</div>
                      </div>
                    </div>
                  </form>
                  <button class="btn btn-primary w-100 mb-3 py-3" [disabled]="!form?.valid" type="submit"
                    (click)="onSubmit()">Change Password</button>

                  <div class="text-center">
                    <div class="mb-3">
                      <p class="txt">To make sure your account is secure, you'll be logged out from other devices once you set the new password.
                      </p>
                    </div>
                    <div class="mb-3">
                      <a href="javascript:void(0)" class="bold primary txt fs-14">Privacy policy</a>
                      &nbsp;&nbsp;|&nbsp;&nbsp;
                      <a href="javascript:void(0)" class="bold primary txt fs-14">Terms of service</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
