$border-radius: 8px;
$default-padding: 1.25rem;
.card {
  position: relative;
  background-color: var(--background);
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: $border-radius;
  margin-bottom: 1.5rem;
  @include scrollBar(8px, var(--scroll-thumb), var(--scroll-track));
  >.card-header {
    background-color: var(--background);
    padding: $default-padding $default-padding;
    .card-title {
      font-size: 16px;
      color: var(--dark-text);
      margin-bottom: 0;
      font-weight: 600;
    }
    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }
  }
  >.card-footer {
    background-color: var(--background);
    padding: $default-padding $default-padding;
    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
  .card-body {
    padding: $default-padding $default-padding;
  }
}
