.w-fc {
  width: fit-content;
  button.btn.ico {
    top: 0px;
  }
  input.form-control {
    // border-radius: 24px;
  }
}

@for $i from 10 through 30 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}

.badge.fx {
  font-weight: 600;
  padding: 0.5rem 0.75rem;
}

.rate{
  color:red;
}
