.flex-img {
  img {
      width: 300px;
      height: 56px;
  }
}

.border-content{
  border-bottom: 1px solid #eaecef;
  padding-bottom: 75px;
  padding-top:35px;
}
.overall{
  border-bottom: 1px solid #eaecef;
}
